// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
.bg-1 {
    background-image: url(/img/bg_map.png);
    margin-left: auto;
    margin-right: auto;
}