// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-logo {
    width: 120px;
    object-fit: cover;
}

.banner {
    display: flex;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 3px 6px;
    transition: 300ms;
    color: black;
    border: 2px rgb(0, 0, 0) solid;
    background-color: aliceblue;
    border-radius: 20px;
    width: 10rem;
    margin-left: auto;
}

li:hover {
    transform: scale(1.1);
    box-shadow: 2px 0px 3px rgba(211, 211, 211, 0.8), -2px 0px 3px rgba(209, 209, 209, 0.8), 2px 0px 3px rgba(248, 248, 248, 0.8);
}

li>* {
    color: black;
    font-weight: bold;
}

li:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

li:hover>* {
    color: white;
}