/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', sans-serif;
  margin: 1rem 0;
}

h1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-shadow: 2px 0px 3px rgba(211, 211, 211, 0.8), -2px 0px 3px rgba(209, 209, 209, 0.8), 2px 0px 3px rgba(248, 248, 248, 0.8);
}


p {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}