/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', sans-serif;
  margin: 1rem 0;
}

p {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}