// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    background-color: white;
    border: 2px solid black;
    transition: 500ms;
    margin-top: 1rem;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

.btn:hover {
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.938);
    color: white;
    font-weight: bold;
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 2px 4px 3px rgb(0, 0, 0);
}

.btn:focus {
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0);
    color: white;
    font-weight: bold;
    text-decoration: none;
}