// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    background-color: white;
    border: 3px solid black;
    transition: 300ms;
    margin-top: 1rem;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

.btn:hover {
    background-color: black;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btn:focus {
    background-color: black;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
}