// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


/*Service*/
.service-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/*Image phone*/
.phone_img {
    transition: 300ms ease-in-out;
}

/*Image phone*/
.phone_img:hover {
    transform: scale(1.05);
}


/*Propriétés des cartes portefolio*/

.portefolioGallery {
    margin: 1rem;
}

.card-body {
    padding: 1rem 0 0 0;
}

.card-title {
    margin-top: 0;
}

/*Skill Bars*/

.complete_skillbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.progress {
    height: 25px;
}

.progress-bar {
    background-image: linear-gradient(to right, #f85555, #ef792b, #d49c00, #abbb11, #6ed451);
}

.iconText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

/*Skills Icons*/

.fa-html5 {
    color: rgb(68, 68, 255);
    font-size: 30px;
}

.fa-css3-alt {
    color: orange;
    font-size: 30px;
}

.fa-sass {
    color: rgb(235, 0, 145);
    font-size: 30px;
}

.fa-bootstrap {
    color: rgb(119, 0, 255);
    font-size: 30px;
}

/*Contact Icon*/

.contact-icon {
    font-size: 60px;
    padding-bottom: 1.5rem;
    color: rgb(46, 46, 46);
}

.contact_link:hover {
    text-decoration: none;
}

.contact_link>.contact-icon {
    transition: all 300ms;
}

.contact_link:hover>.contact-icon {
    transform: scale(1.3);
}